/build/
/dist/
/.idea/
/.vscode/
/nbproject/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
/src/utils/LogCompilation/target/

*.sh
*.log
scratch/*.out.*
scratch/jar/*.jar
scratch/xalan/*

*.txt
hello.java
*.py
dacapo-2006-10-MR2.jar
/scratch
NVMTest*/*